@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1B1B44;
    --second-bg-color: #212142;
    --text-color:#fff;
    --main-color: #F2BB30;
}

html {
    font-size: 10px;
    overflow-x:hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0px;
}

section#home.home {
    min-height: 100vh;
    padding: 10rem 10% 1rem;
}
section#about.about {
    min-height: 125vh;
    padding: 10rem 10% 1rem;
}
section#interest.interest {
    min-height: 100vh;
    padding: 10rem 10% 1rem;
}

.header {
    position: fixed;
    padding: 3rem 5%;
    background: var(--bg-color);
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    max-width: 100%;
}

.header.sticky {
   border-bottom: .1rem solid rgba(0, 0,0, .2);
}

.logo {
    font-size: 2.5rem;
    color: #F2BB30;
    font-weight:600;
    cursor:default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 100;
}

span {
    color: var(--main-color);
}


.about {
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
}

.heading {
    font-size: 5rem;
   text-align: center;
}


.about-content p {
    font-size: 2.5rem;
    text-align: center;
}


.interest-container {
    display: grid;
    text-align: center;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}

.interest-container .interest-box {
   background: var(--second-bg-color);
   padding: 9rem 5rem 5rem;
   flex: 1 1 1;
   border-radius: 2rem;
   text-align: center;
   border: .3rem solid var(--bg-color);
   transition: .5s ease;
}

.interest-container .interest-box:hover {
   border-color: var(--main-color);
   transform: scale(1.05);
}

.interest-box i {
   font-size: 5rem;
   color: var(--main-color);
   
}

.interest-box h3 {
   font-size: 2.5rem;
}

.interest-box p {
   font-size: 1.6rem;
}

.portfolio {
    background-color: var(--second-bg-color);
}
.portfolio h2 {
    text-align: center;
    padding: 10rem 10rem 10rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}


.grid-container2 {
    text-align: center;
    padding: 1rem 5rem 5rem;
}

.grid-projectscontainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.grid-projectscontainer1 {
    text-align: center;
    padding: 1rem 5rem 5rem;
}

@media only screen and (max-width: 768px) {
    * {
        max-width: 100%;
        max-height: 100%;
    }

    html {
        font-size: 8px;
    }
    section#about.about {
        min-height: 70vh;
        padding: 2rem 8% 1rem;
    }
    section#interest.interest {
        min-height: 85vh;
        padding: 15rem 5% 1rem;
    }

    .interest-container {
        display: grid;
        gap: 3rem;
        grid-template-columns: auto;
    }
    section#portfolio.portfolio {
        min-height: 100vh;
    }
    .grid-container {
        grid-template-columns: repeat(1,1fr);
        padding: 1rem 10rem 1rem;
        gap:2rem;
    }
    .grid-projectscontainer {
        grid-template-columns: repeat(1,1fr);
        padding: 1rem 10rem 1rem;
        gap: 5rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    * {
        max-width: 100%;
        max-height: 100%;
    }

    html {
        font-size: 8px;
    }
    section#about.about {
        min-height: 70vh;
        padding: 2rem 8% 1rem;
    }
    section#interest.interest {
        min-height: 85vh;
        padding: 15rem 5% 1rem;
    }
    .interest-container {
    gap: 3rem;
    grid-template-columns: repeat(1,1fr);
    }
    
    section#portfolio.portfolio {
    min-height: 85vh;
    }
    .grid-container {
    grid-template-columns: minmax(2,1fr);
    padding: 5rem 5rem 1rem;
    gap:2rem;
    }
    .grid-projectscontainer {
    grid-template-columns: minmax(2,1fr);
    padding: 5rem 5rem 1rem;
    gap: 5rem;
    }
}

@media only screen and (min-width: 1025px) {
    * {
        max-width: 100%;
        max-height: 100%;
    }

    html {
        font-size: 10px;
    }

    section#interest.interest {
        min-height: 100vh;
    }

    .interest-container {
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        min-height: 60vh;
    }
 }

 @media only screen and (max-width: 520px) {
    * {
        max-width: 100%;
        max-height: 100%;
    }
    html {
        font-size: 4.8px;
    }
 }